<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="bs-example">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a href="#" class="navbar-brand" style="margin: 0px 100px 0px 50px;">The Benefits Usage</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav a">
                <a href="#" routerLink="/home" class="nav-item nav-link">Home</a>
                <a href="#" class="nav-item nav-link">Wallet</a>
                <a href="#" routerLink="/account" class="nav-item nav-link">Account</a>
                <a href="#" class="nav-item nav-link">Recharge</a>
                <a href="#" class="nav-item nav-link">Bank Details</a>
                <a href="#" class="nav-item nav-link">Your Activity</a>
                <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a href="#" routerLink="/home" class="nav-item nav-link">Login</a> 
                <a href="#" routerLink="/dashboard" class="nav-item nav-link">Logout</a> 
            </div>
        </div>
    </nav>
</div>

<script type="text/javascript">
const currentLocation = location.href;
console.log(currentLocation)
</script>

</body>
</html>