
<div class="first-content">

    <div class="content-tab">
        <div class="period">
            <h6>Period</h6>
            <h4>00-123</h4>
        </div>
        <div class="count-down"> 
            <h6>Timer</h6>
            <h4>00:00</h4>
        </div>
    </div>

    <div class="content-tab-color">
        <div class="color green" data-toggle="modal" data-target="#diamandModalGreen">
            <p>Green</p>
        </div>
        <div class="color red" data-toggle="modal" data-target="#diamandModalRed"> 
            <p>Rred</p>
        </div>
    </div>

    <div class="container-table">        
        <table class="table table-dark">
        <thead>
            <tr>
            <th>Period</th>
            <th>Number</th>
            <th>Result</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>123</td>
                <td>6</td>
                <td><div  class="result"><P>r</P></div></td>
            </tr>
            <tr>
                <td>123</td>
                <td>3</td>
                <td><div class="result"><P>r</P></div></td>
            </tr>
            <tr>
                <td>123</td>
                <td>9</td>
                <td><div class="result"><P>r</P></div></td>
            </tr>
            <tr>
                <td>123</td>
                <td>9</td>
                <td><div class="result"><P>r</P></div></td>
            </tr>
            <tr>
                <td>123</td>
                <td>9</td>
                <td><div class="result"><P>r</P></div></td>
            </tr>
            <tr>
                <td>123</td>
                <td>9</td>
                <td><div class="result"><P>r</P></div></td>
            </tr>
            <tr>
                <td>123</td>
                <td>9</td>
                <td><div class="result"><P>r</P></div></td>
            </tr>
            <tr>
                <td>123</td>
                <td>9</td>
                <td><div class="result"><P>r</P></div></td>
            </tr>
            <tr>
                <td>123</td>
                <td>9</td>
                <td><div class="result"><P>r</P></div></td>
            </tr>
            <tr>
                <td>123</td>
                <td>9</td>
                <td><div class="result"><P>r</P></div></td>
            </tr>
        </tbody>
        </table>
    </div>

</div>

<div class="second-content">
    <div class="content-tab-second">
        <div class="content-right">
            <h5>Your Jack Order</h5>
        </div>
        <div class="content-left"> 
            <p>more ></p>
        </div>
    </div>
    <div><p style="text-align: center; padding: 0px 0px 15px;">your orders</p></div>
</div>

  <!-- The Modal Diamand -->
  <div class="modal fade" id="diamandModalGreen">
      <app-model-popup-jack-green></app-model-popup-jack-green>
  </div>
  <div class="modal fade" id="diamandModalRed">
      <app-model-popup-jack-red></app-model-popup-jack-red>
  </div>