<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="bs-example">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a href="#" class="navbar-brand" style="margin: 0px 100px 0px 50px;">The Benefits Usage</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="#"  data-toggle="modal" data-target="#login" class="nav-item nav-link">Login</a> 
                <a href="#"  data-toggle="modal" data-target="#register" class="nav-item nav-link">Register</a> 
            </div>
        </div>
    </nav>
</div>

<!-- The Modal King -->
    <div class="modal fade" id="login">
    <app-login-common-page></app-login-common-page>
    </div>
    <div class="modal fade" id="register">
    <app-register-page></app-register-page>
    </div>

</body>
</html>